@import 'parts/variables'

.custom-search-form-style
    position: relative

    .geodir-filter-container
        .geodir-filter-cat
            min-width: auto
            width: auto
            margin-right: 20px
            flex: inherit !important
            z-index: 110
            > ul
                position: absolute
                width: 250px
                background: #ccc
                padding: 10px !important
                display: none
                z-index: 110
                li
                    display: inline-block
                    padding: 5px 10px
                    border-radius: 18px
                    border: 1px solid #555 !important
                    margin-right: 10px
                    margin-bottom: 10px
                    position: relative
                    overflow: hidden
                    input
                        position: absolute
                        display: block
                        width: 100%
                        height: 100%
                        z-index: 10
                        left: 0
                        top: 0
                        right: 0
                        bottom: 0
                        margin: 0
                        border-radius: 18px
                        cursor: pointer
                        opacity: 0

                    &.checked
                        background: #555
                        color: #fff  



            > span
                display: inline-block
                padding: 5px 15px
                border-radius: 100px
                border: 1px solid #555 !important
                cursor: pointer
                &:hover, &.is-open
                    background: #555
                    color: #fff  
                &.is-open
                    > ul

            &.gd-field-post_category
                position: absolute
                top: -90px
                > ul
                    width: 100%
                    position: relative
                    background: none
                    padding: 10px !important
                    display: block !important
                    z-index: 110
.trigger-filter
    width: 100%
    height: 100%
    position: fixed
    left: 0
    right: 0
    top: 0
    bottom: 0
    background: rgba(0,0,0,.3)
    z-index: 100
    display: none

//   .geodir-filter-cat
//     > ul
//       position: absolute


.js_active 
    #top 
        .main_color
            .tab_titles
                .tab    
                    font-size: 18px
                    line-height: 21px
                    display: flex;
                    align-items: center;
                    padding: 20px 
                    .tab_icon
                        display: none
                    &::before
                        font-family: fontello
                        font-size: 40px
                        color: #000
                        display: block;
                        height: 30px;
                        margin-right: 15px;
                    &:nth-child(1)
                        &::before
                            content: '\e802'
                    &:nth-child(2)
                        &::before
                            content: '\e803'
                    &:nth-child(3)
                        &::before
                            content: '\e804'
                    &.active_tab
                        background: #2D2D2D;
                        color: #fff
                        &::before
                            font-weight: normal;
                            color: #fff
                        
 


            .tab:first-child
                border-top-left-radius: 18px
            .tab:last-child
                border-top-right-radius: 18px

#top  .tabcontainer .tab.active_tab