i.icon-rs
    width: 25px
    height: 25px
    margin-right: 8px
    display: block
    position: relative
    &::before
        content: ''
        display: block
        width: 100%
        height: 100%
        position: absolute
        top: 0
        right: 0
    &.icon-arrow_right
        &::before
            background: url(../img/svg/arrow_right.svg) no-repeat center center / contain
    &.icon-blueprint
        &::before
            background: url(../img/svg/blueprint.svg) no-repeat center center / contain
    &.icon-brickwall
        &::before
            background: url(../img/svg/brickwall.svg) no-repeat center center / contain
    &.icon-camera
        &::before
            background: url(../img/svg/camera.svg) no-repeat center center / contain
    &.icon-comercial
        &::before
            background: url(../img/svg/comercial.svg) no-repeat center center / contain
    &.icon-dislike
        &::before
            background: url(../img/svg/dislike.svg) no-repeat center center / contain
    &.icon-distance
        &::before
            background: url(../img/svg/distance.svg) no-repeat center center / contain
    &.icon-heart
        &::before
            background: url(../img/svg/heart.svg) no-repeat center center / contain
    &.icon-heart_little
        &::before
            background: url(../img/svg/heart_little.svg) no-repeat center center / contain
    &.icon-information
        &::before
            background: url(../img/svg/information.svg) no-repeat center center / contain
    &.icon-kindergarten
        &::before
            background: url(../img/svg/kindergarten.svg) no-repeat center center / contain
    &.icon-location
        &::before
            background: url(../img/svg/location.svg) no-repeat center center / contain
    &.icon-mail
        &::before
            background: url(../img/svg/mail.svg) no-repeat center center / contain
    &.icon-mail_fill
        &::before
            background: url(../img/svg/mail_fill.svg) no-repeat center center / contain
    &.icon-park
        &::before
            background: url(../img/svg/park.svg) no-repeat center center / contain
    &.icon-phone
        &::before
            background: url(../img/svg/phone.svg) no-repeat center center / contain
    &.icon-plus
        &::before
            background: url(../img/svg/plus.svg) no-repeat center center / contain
    &.icon-poverh
        &::before
            background: url(../img/svg/poverh.svg) no-repeat center center / contain
    &.icon-rent
        &::before
            background: url(../img/svg/rent.svg) no-repeat center center / contain
    &.icon-sale
        &::before
            background: url(../img/svg/sale.svg) no-repeat center center / contain
    &.icon-school
        &::before
            background: url(../img/svg/school.svg) no-repeat center center / contain
    &.icon-search
        &::before
            background: url(../img/svg/search.svg) no-repeat center center / contain
    &.icon-share
        &::before
            background: url(../img/svg/share.svg) no-repeat center center / contain
    &.icon-shop
        &::before
            background: url(../img/svg/shop.svg) no-repeat center center / contain
    &.icon-star
        &::before
            background: url(../img/svg/star.svg) no-repeat center center / contain
    &.icon-user
        &::before
            background: url(../img/svg/user.svg) no-repeat center center / contain
    &.icon-vodafon_logo
        &::before
            background: url(../img/svg/vodafon_logo.svg) no-repeat center center / contain
    &.icon-check
        &::before
            background: url(../img/svg/check.svg) no-repeat center center / contain
    &.icon-uncheck
        &::before
            background: url(../img/svg/uncheck.svg) no-repeat center center / contain




    &.icon-type_object
        &::before
            background: url(../img/svg/type_object.svg) no-repeat center center / contain
    &.icon-type_bild
        &::before
            background: url(../img/svg/type_bild.svg) no-repeat center center / contain
    &.icon-rooms
        &::before
            background: url(../img/svg/rooms.svg) no-repeat center center / contain
    &.icon-plan
        &::before
            background: url(../img/svg/plan.svg) no-repeat center center / contain
    &.icon-flours
        &::before
            background: url(../img/svg/flours.svg) no-repeat center center / contain
    &.raiting_ico
        &::before
            background: url(../img/svg/raiting_ico.svg) no-repeat center center / contain
    &.inform-ico
        &::before
            background: url(../img/svg/inform-ico.svg) no-repeat center center / contain




i.fas 
    &.fa-heart
        width: 25px
        height: 25px
        display: block
        position: relative
        margin-right: 0
        &::before
            content: ''
            display: block
            width: 100%
            height: 100%
            position: absolute
            top: 0
            right: 0
            background: url(../img/svg/heart.svg) no-repeat center center / contain  
    &.fa-road
        width: 25px
        height: 25px
        display: block
        position: relative
        &::before
            content: ''
            display: block
            width: 100%
            height: 100%
            position: absolute
            top: 0
            right: 0
            background: url(../img/svg/distanse.svg) no-repeat center center / contain
            