i.icon-rs
    width: 25px
    height: 25px
    margin-right: 8px
    display: block
    position: relative
    &::before
        content: ''
        display: block
        width: 100%
        height: 100%
        position: absolute
        top: 0
        right: 0
    &.icon-arrow_right
        &::before
            background: url(../img/svg/arrow_right.svg) center center / contain
    &.icon-blueprint
        &::before
            background: url(../img/svg/blueprint.svg) center center / contain
    &.icon-brickwall
        &::before
            background: url(../img/svg/brickwall.svg) center center / contain
    &.icon-camera
        &::before
            background: url(../img/svg/camera.svg) center center / contain
    &.icon-comercial
        &::before
            background: url(../img/svg/comercial.svg) center center / contain
    &.icon-dislike
        &::before
            background: url(../img/svg/dislike.svg) center center / contain
    &.icon-distance
        &::before
            background: url(../img/svg/distance.svg) center center / contain
    &.icon-heart
        &::before
            background: url(../img/svg/heart.svg) center center / contain
    &.icon-heart_little
        &::before
            background: url(../img/svg/heart_little.svg) center center / contain
    &.icon-information
        &::before
            background: url(../img/svg/information.svg) center center / contain
    &.icon-kindergarten
        &::before
            background: url(../img/svg/kindergarten.svg) center center / contain
    &.icon-location
        &::before
            background: url(../img/svg/location.svg) center center / contain
    &.icon-mail
        &::before
            background: url(../img/svg/mail.svg) center center / contain
    &.icon-mail_fill
        &::before
            background: url(../img/svg/mail_fill.svg) center center / contain
    &.icon-park
        &::before
            background: url(../img/svg/park.svg) center center / contain
    &.icon-phone
        &::before
            background: url(../img/svg/phone.svg) center center / contain
    &.icon-plus
        &::before
            background: url(../img/svg/plus.svg) center center / contain
    &.icon-poverh
        &::before
            background: url(../img/svg/poverh.svg) center center / contain
    &.icon-rent
        &::before
            background: url(../img/svg/rent.svg) center center / contain
    &.icon-sale
        &::before
            background: url(../img/svg/sale.svg) center center / contain
    &.icon-school
        &::before
            background: url(../img/svg/school.svg) center center / contain
    &.icon-search
        &::before
            background: url(../img/svg/search.svg) center center / contain
    &.icon-share
        &::before
            background: url(../img/svg/share.svg) center center / contain
    &.icon-shop
        &::before
            background: url(../img/svg/shop.svg) center center / contain
    &.icon-star
        &::before
            background: url(../img/svg/star.svg) center center / contain
    &.icon-user
        &::before
            background: url(../img/svg/user.svg) center center / contain
    &.icon-vodafon_logo
        &::before
            background: url(../img/svg/vodafon_logo.svg) center center / contain
    
    