.top-menu-custom
  display: flex
  align-items: center
  justify-content: space-between  
  padding: 0 30px
  background: #c8c8c8


  .user_menu_wrap
    display: flex
    align-items: center
    padding: 0 10px
    // justify-content: space-between

    .add_listing_button_holder
      display: flex
      align-items: center
      margin-right: 15px
      .button
        padding: 12px 30px;
        margin: 0!important;
        background: #2D2D2D;
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 8px;
        outline: 0;
    .user_item
      position: relative !important 
      transition: $transition
      z-index: 101
      .user_wrap
        display: flex
        align-items: center
        img
          margin-right: 10px
        .card 
          margin-right: 10px
          .card-body
            .row
              margin-bottom: 0
              .col  
                a 
                  width: 40px
                  height: 40px
                  display: block
                  overflow: hidden
                  border: solid 2px #fff !important
                  border-radius: 50%
                  img
                    object-fit: cover
        
      .log_list
        margin: 0
        background: #c8c8c8
        opacity: 0
        position: absolute
        bottom: auto
        left: 0
        width: auto;
        min-width: max-content;
        transition: $transition
        .list_it
          width: 100%
          padding: 5px
          a
            font-size: 16px;
            line-height: 19px;
            text-decoration: none
            color: $accent
            padding: 8px 12px
          &:hover 
            a
              color: lighten($accent, 15%)
            
      &:hover
        .log_list
          opacity: 1

    

  .menu-header-menu-2-container
    #menu-header-menu-2.menu-abra
      display: flex
      align-items: center
      margin: 0
      min-height: 60px
      height: auto
      li
        padding: 0 14px
        a
          font-size: 16px
          line-height: 19px
          color: $accent
          text-decoration: none
          transition: $transition
          &:hover
            color: lighten($accent, 25%)



