// #av-layout-grid-2
//     display: flex !important;
//     float: none;
//     clear: none
//     // .flex_cell:nth-child(2)
//     //    .flex_cell_inner
//     //        height: 100%;

// body
//     font-family: 'rubik' !important
//     *
//         font-family: 'rubik' !important
.sticker-map-container
    display: grid;
    grid-template-columns: 50% 50%


.sticker-map, .sticker-tabs
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;

html.responsive, .responsive body, #wrap_all
    overflow:  visible !important




// osssssss
.padding-off-custom
    padding: 0 !important

.content, .sidebar
    padding-top: 0 !important
    padding-bottom: 0 !important

#main > .container_wrap > .container
    padding: 0 

// .menu-item-top-level
//     transition: all .2s
// .current-menu-item, .menu-item-top-level:hover
//     margin-right: -12px !important;

.sticker-map-container
    .list
        padding: 0 27px;
    .tabcontainer
        transition: all .3s
        // position: static;
        // top: -200px;
        // &.sticky
        //     position: sticky;
        //     transition: all .3s
        //     top: -10px;
        //     z-index: 10;
        //     background: #fff !important;

#header_main
    background: #fefefe;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); 
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);

.custom-tabs-form
    .tabcontainer 
        padding: 30px 0;
        // overflow-x: hidden;
        overflow: visible

.lity.lity-image
    display: none !important

.custom-top-fix 
    .list, .sticker-tabs, .sticker-map
        margin-top: -1px !important

#scroll-top-link ,#scroll-top-link.avia_pop_class, #av-cookie-consent-badge.avia_pop_class
    right: calc(50% - 20px) !important
    bottom: 30px !important
    background-color: #808080;
    color: #fff;
    &:hover
        background-color: #808080;
        opacity: 1;
        color: #ebebeb

.geodir-loop-container
    .geodir_post_meta_icon
        i
            // display: none




// icon
.geodir-field
    &-property_bedrooms

