// #av-layout-grid-2
//     display: flex !important;
//     float: none;
//     clear: none
//     // .flex_cell:nth-child(2)
//     //    .flex_cell_inner
//     //        height: 100%;

.sticker-map-container
    display: grid;
    grid-template-columns: 50% 50%


.sticker-map
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    height: 100vh;

html.responsive, .responsive body, #wrap_all
    overflow:  visible !important
