@import 'parts/variables'
@import 'parts/specification'
@import 'parts/display'
@import 'parts/layout'
@import 'parts/hardcore'
@import 'parts/icon_tmp'

@import 'parts/_navs'
@import 'parts/breadcrumbs'
@import 'parts/filter'
@import 'parts/gd_arhiv'
@import 'parts/gd_arhiv_item'
@import 'parts/sticker-map-container'

// @import 'fonts'

*
  &:active,&:focuss
    outline: none !important
    border: none !important



.menu-user_menu-container
  #menu-user_menu-1.menu-abra
    display: flex
    justify-content: flex-end
    align-items: center
    background: grey;
    padding: 0 30px 0 0;
    margin: 0;
    min-height: 60px
    height: auto;
    li.users-wp-menu 
      position: relative;
      padding: 5px;
      .sub-menu
        position: absolute;
        z-index: -5;
        display: none;
        background: grey;
        right: 0;
        top: 100%;
        margin: 0;
        li
          padding: 10px;
          margin: 0;
      &:hover
        .sub-menu
          z-index: 5;
          display: block;










          



