@import 'parts/variables'
@import 'parts/specification'
@import 'parts/display'
@import 'parts/layout'
@import 'parts/hardcore'


@import 'parts/_navs'
@import 'parts/filter'
@import 'parts/gd_arhiv'
@import 'parts/gd_arhiv_item'

// @import 'fonts'

*
  &:active,&:focus
    outline: none !important
    border: none !important



.menu-user_menu-container
  #menu-user_menu-1.menu-abra
    display: flex
    justify-content: flex-end
    background: grey;
    padding: 0 30px 0 0;
    margin: 0;
    li.users-wp-menu 
      position: relative;
      padding: 10px;
      .sub-menu
        position: absolute;
        z-index: -5;
        display: none;
        background: grey;
        right: 0;
        top: 100%;
        margin: 0;
        li
          padding: 10px;
          margin: 0;
      &:hover
        .sub-menu
          z-index: 5;
          display: block;


// search tab

.js_active
  .top_tab
    .tab_titles
      border-radius: 18px 18px 0px 0px;
      .tab
        background: #2D2D2D;
        text-align: center;
        top: 0 !important
        &.active_tab
          background:#F0F0F0


.custom-search-form-style .geodir-filter-container .geodir-filter-cat>span
  border: none !important
  
  font-weight: 1;
  font-size: 16px;
  line-height: 19px;
  &:hover
    color: #000
    background:#F0F0F0

.gd-field-property_bedrooms, .gd-field-property_type, .gd-field-type_of_bilding, .gd-field-price_2
  border: none









          



